<div class="container">
  <form>
  <p>
    <next-checkbox
      [disabled]="disabled"
      [required]="true"
      [tabIndex]="tabIndex"
    >
    </next-checkbox>
  </p>
  <p>
    <next-checkbox
      [disabled]="disabled"
      [required]="true"
      [tabIndex]="tabIndex"
    >
    </next-checkbox>
    <span>This second</span>
  </p>
  <p>
    <next-checkbox
      [disabled]="disabled"
      [required]="true"
      [tabIndex]="tabIndex"
      [id]="'the-third'"
    >
    </next-checkbox>
    <span> This third </span>
  </p>
</form>
</div>
