<form [formGroup]="appFormGroup" ngNativeValidate>
  <div class="container">
    <next-checkbox
      [disabled]="disabled"
      [required]="required"
      [tabIndex]="tabIndex"
      [id]="'checkbox-1'"
      formControlName="checkboxFormControl"
    ></next-checkbox>
    <label for="checkbox-1">Some text</label>
  </div>
  <input type="submit" value="Submit" />
</form>
<form ngNativeValidate>
  <div class="container">
    <next-checkbox
      [disabled]="disabled"
      [required]="required"
      [tabIndex]="tabIndex"
      [(ngModel)]="isChecked"
      name="checkbox"
    ></next-checkbox>
    <label for="next-checkbox-2-input">Some text</label>
  </div>
  <input type="submit" value="Submit" />
</form>
